* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li {
    float: left;
    border-right: 1px solid white;
}

li:last-child{
    border-right: none;
}

li a{
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
}

li a:hover{
    background-color: crimson;
}

li.nav-title{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 12px;
}

li.message {
    display: block;
    border-color: forestgreen;
    background-color: darkseagreen;
    border-radius: 10px;
    padding: 10px;
    color: white;
}

div.form{
    border-style: solid;
    background-color: rgb(196, 196, 196);
    border-color: black;
    border-radius: 10px;
    padding: 10px;
    width: 50%;
}

ul.navbar{
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: rgb(255, 71, 108);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}

#content{
    padding-top: 30px;
    margin-bottom: 75px;
}

#footer{
    padding: 0;
    margin: 0;
    background-color: rgb(119, 119, 119);
    color: lightgray;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    height: 75px;
}

#footer span{
    padding-top: 10px;
    margin-bottom: 10px;
}

#footer a {
    color: lightgray;
    text-decoration: none;
    font-weight: bold;
}

#footer a:hover{
    color: white;
}

th{
    font-weight: bold;
}

table, th, td{
    border: none;
    border-bottom: 1px solid #ddd;
}

tr.gray{
    background-color: lightgrey;
}