li.message {
    border-color: forestgreen;
    background-color: darkseagreen;
    border-radius: 10px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif
}

h1.title{
    font-family: Arial, Helvetica, sans-serif; 
}