<body>
    <h1>All Orders in Database:</h1>
    <hr>
        {% for time, orderlist in orders.items() %}
            <h2>{{ time }}</h2> <br>
            <table style="width:50%" border='1'>
                <tr>
                    {% for key in orderlist[0].keys() if key != 'pickup_time' %}
                        <th align="left">{{ key.replace('_', ' ').title() }}</th>
                    {% endfor %}
                </tr>
                {% for order in orderlist %}
                    <tr>
                        {% for key in order.keys() if key != 'pickup_time' %}
                            <td>
                                {{ order[key] }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
            <br>
        {% endfor %}
</body>