{% extends "base.html" %}

{% block title %}All Orders{% endblock %}

{% block head %}
{{ super() }}
<h1 class="page-title">All Orders in Database:</h1>
<hr>
{% endblock %}

{% block content %}
{{ super() }}
{% for time, orderlist in orders.items() %}
    <h2>{{ time }}</h2> <br>
    {% if orderlist %}
    <table style="width:50%" border='1'>
        <tr>
            {% for key in orderlist[0].keys() if key != 'pickup_time' %}
                <th align="left">{{ key.replace('_', ' ').title() }}</th>
            {% endfor %}
        </tr>
        {% for order in orderlist %}
            {% if loop.index is divisibleby 2 %}
                <tr class="gray">
                    {% for key in order.keys() if key != 'pickup_time' %}
                        <td>
                            {{ order[key] }}
                        </td>
                    {% endfor %}
                </tr>
            {% else %}
                <tr>
                    {% for key in order.keys() if key != 'pickup_time' %}
                        <td>
                            {{ order[key] }}
                        </td>
                    {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}
    </table>
    {% else %}
        <h3>No orders found.</h3>
    {% endif %}
    <br>
{% endfor %}
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}