<!doctype html>
<html>

<head>
    <meta charset='UTF-8'>
    <meta name='description' content='BEC Order System'>
    <meta name='author' content='https://github.com/s-kganz/bec'>

    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <div id="header">

        <ul class="navbar">
            <li class="nav-title">bec.io</li>
            <li><a href="/">Home</a></li>
            <li><a href="/order">Place Order</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/about">About</a></li>
        </ul>
        <title>{% block title %} {% endblock %}</title>
    </div>
</head>

<body>
    <div id='content'>
        {% block head %}
        {% endblock %}

        {% block content %}
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <li class="message">{{ message }}</li>
        <br>
        <br>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% endblock %}
    </div>
</body>

<footer id="footer">
    {% block footer %}
    <span>
        Made with &hearts; by <a href='http://sigepnyd.org/'>SigEp NY&#916;.</a>
    </span>
    <br>
    <img src="{{ url_for('static', filename='crest.png') }}" alt="Sigep Crest" height="50">
    {% endblock %}
</footer>

</html>