{% extends "base.html" %}

{% block head %}
{{ super ()}}
<h1>Cancel an order:</h1>
<hr>
{% endblock %}

{% block content %}
{{ super() }}
<div class="form">
    <form method="POST" action='/cancel'>
        Name on order:
        <input type="text" name="name">
        <input type="submit" value="Lookup">
    </form>
</div>

{% if orderlist|length > 0 %}
    <h3>Orders found for {{ orderlist[0]['name'] }}:</h3>
    <table style="width:50%" border='1'>
            <tr>
                {% for key in orderlist[0].keys() if key != 'pickup_time' %}
                    <th align="left">{{ key.replace('_', ' ').title() }}</th>
                {% endfor %}
            </tr>
            {% for order in orderlist %}
                <tr>
                    {% for key in order.keys() if key != 'pickup_time' %}
                        <td>
                            {{ order[key] }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
    </table>
    <form method="GET" action='/cancelorder'>
        <input type='submit' value="Remove above orders">
    </form>

{% endif %}
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}